# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# xcode
# プロジェクトファイル
!*.xcodeproj
!*.xcworkspace

# 不要ファイル
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/

# Derived Data
DerivedData/

# Build 成果物
build/
*.app
*.ipa
*.dSYM.zip
*.dSYM

# Xcode のキャッシュ・設定
*.moved-aside
*.pbxuser
*.perspectivev3
*.mode1v3
*.mode2v3

# Swift Package Manager
.swiftpm/
Package.resolved

# CocoaPods
Pods/
Podfile.lock
*.xcworkspace

# Carthage
Carthage/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# その他
.DS_Store
*.swp
*.log

# 個人用設定
*.xcuserstate

# ライブラリ本体
ffmpeg/ffmpeg-*
ffmpeg/output/
dav1d/dav1d*
dav1d/output/
libsvtav1/SVT-AV1*
libsvtav1/makegenerate/
libsvtav1/output/
fdk-aac/fdk-aac-*
fdk-aac/makegenerate/
fdk-aac/output/
libsdl/SDL2-*
libsdl/makegenerate/
libsdl/output/
